---
import { BOARD_SIZE, ALPHABETS } from '@dongsi-omok/shared';
---

<omok-board>
  {
    Array.from({ length: BOARD_SIZE }, (_, row) => (
      <>
        <span
          style={`--row:${BOARD_SIZE - row + 1};--col:1;`}
          class="row flex-end"
        >
          {row + 1}
        </span>
        <span style={`--row:${BOARD_SIZE - row + 1};`} class="row">
          {row + 1}
        </span>
      </>
    ))
  }
  {
    ALPHABETS.slice(0, BOARD_SIZE).map((col, idx) => (
      <>
        <span style={`--col:${idx + 2};--row:${BOARD_SIZE + 2}`} class="col">
          {col}
        </span>
        <span style={`--col:${idx + 2}`} class="col flex-end">
          {col}
        </span>
      </>
    ))
  }
  {
    Array.from({ length: BOARD_SIZE }, (_, row) =>
      ALPHABETS.slice(0, BOARD_SIZE).map((col, colIdx) => (
        <button
          style={`--row:${row + 2};--col:${colIdx + 2}`}
          data-row={row}
          data-col={col}
          aria-label={`row:${row + 1} col:${col}`}
        >
          {(row === 3 || row === 9 || row === 15) &&
          (col === 'D' || col === 'J' || col === 'P') ? (
            <span class="flower-point" />
          ) : null}
        </button>
      )),
    )
  }
  <border-beam></border-beam>
</omok-board>
<style define:vars={{ boardSize: BOARD_SIZE }}>
  @keyframes border-beam {
    100% {
      offset-distance: 100%;
    }
  }
  @keyframes pulse {
    0%,
    100% {
      box-shadow: 0 0 0 0 burlywood;
    }
    50% {
      box-shadow: 0 0 0 8px hsla(334, 82%, 72%, 20%);
    }
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.8;
    }
  }
  @keyframes slide-up {
    from {
      transform: translateY(50%);
      opacity: 0;
    }
    to {
      transform: none;
      opacity: 1;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  omok-board {
    animation: slide-up 0.3s both;
    width: 100%;
    max-width: 700px;
    aspect-ratio: 1;
    display: grid;
    grid-template-columns: repeat(calc(var(--boardSize) + 2), 1fr);
    grid-template-rows: repeat(calc(var(--boardSize) + 2), 1fr);
    background-color: hsl(34, 46%, 56%);
    border-radius: 8px;
    position: relative;
  }
  .row,
  .col {
    font-size: 0.75rem;
    color: hsla(0, 0%, 12%, 94%);
  }
  .flex-end {
    justify-self: flex-end;
    align-self: flex-end;
  }
  .row {
    grid-column: var(--col) / span 1;
    grid-row: var(--row) / span 1;
    align-self: center;
  }
  .col {
    grid-column: var(--col) / span 1;
    grid-row: var(--row) / span 1;
    justify-self: center;
  }
  border-beam {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid transparent;
    border-radius: inherit;

    &::after {
      content: '';
      aspect-ratio: 1;
      position: absolute;
    }

    &.loading {
      mask-clip: padding-box, border-box !important;
      mask-composite: intersect !important;
      mask: linear-gradient(transparent, transparent),
        linear-gradient(white, white);
      &::after {
        width: 100%;
        background: linear-gradient(
          to left,
          hsl(60, 100%, 50%),
          hsl(30, 100%, 50%),
          transparent
        );
        animation: border-beam 6s infinite linear;
        offset-anchor: 90% 50%;
        offset-path: rect(0 auto auto 0 round 600px);
      }
    }
    &.active {
      animation: pulse 1.5s ease-in-out infinite;
    }
  }
  .flower-point {
    pointer-events: none;
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    background-color: black;
    border-radius: 50%;
    left: 52%;
    top: 52%;
    transform: translate(-52%, -52%);
    padding: 0;
    margin: 0;
  }
  button.winning {
    animation: rotate 2s linear infinite;
  }
  button {
    grid-column: var(--col) / span 1;
    grid-row: var(--row) / span 1;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    position: relative;
    transition: background 0.2s cubic-bezier(0.5, 0, 0.5, 1);

    &:not(:disabled) {
      cursor: pointer;
    }

    &.item {
      border-radius: 50%;
      .flower-point,
      &::before,
      &::after {
        opacity: 0;
      }
      &.white {
        background: radial-gradient(
          circle at bottom right,
          hsl(0, 0%, 100%),
          hsl(0, 0%, 78%)
        );
      }
      &.black {
        background: radial-gradient(
          circle at bottom right,
          hsl(0, 0%, 24%),
          hsl(0, 0%, 0%)
        );
      }
      &.prohibit {
        &::before,
        &::after {
          transition: all 0.3s ease-in-out;
          opacity: 1;
          background-color: red;
          transform: rotateZ(45deg);
        }
      }
      &.half {
        /* background: linear-gradient(
          to top,
          white 0%,
          white 50%,
          black 50%,
          black 100%
        ); */
      }
      &.plan {
        opacity: 0.5;
        animation: blink 1.5s ease-in-out infinite;
      }
    }

    &:hover:not(:disabled) {
      background-color: hsl(34, 46%, 70%);
    }

    &:active:not(:disabled) {
      background-color: hsl(34, 46%, 78%);
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: black;
    }
    &::before {
      width: 1px;
      height: 100%;
      top: 0;
    }
    &::after {
      height: 1px;
      width: 100%;
      left: 0;
    }
    &[data-row='0'] {
      &::before {
        top: 50%;
        height: 50%;
      }
    }
    &[data-row='18'] {
      &::before {
        height: 50%;
      }
    }
    &[data-col='A'] {
      &::after {
        left: 50%;
        width: 50%;
      }
    }
    &[data-col='S'] {
      &::after {
        width: 50%;
      }
    }
    &:last-child::before {
      height: 54%;
    }
  }
</style>
